<nav class="navbar navbar-inverse" style="background-color: #7B241C ">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">ESHOPPING</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/products/products/:page">SHOP NOW</a></li>
            <li><a href="/cart/showCart"><span class="glyphicon glyphicon-shopping-cart" style="font-color: #ffffff;"></span>CART</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile"><span class="glyphicon glyphicon-picture"></span>Profile</a></li>
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </nav>