<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body class="bg">
        <% include partials/nav.ejs %>
        <header>
            <h1>Login...</h1><br>
            <form action="/auth/local" method="POST">
                <div>
                <label>Username:</label>
                <input type="text" name="username" required/><br/>
                </div>
                <br>
                <div>
                <label>Password:</label>
                <input type="password" name="password" required/>
                </div>
                <br>
                <div>
                <input type="submit" value="Submit"/>
                </div>
            </form>
        </header><br><br>
    </body>
</html>
